<div class="skills-container" fxLayout fxLayout.lt-md="column" fxLayoutGap="15px">
  <app-skill-group [selectable]="selectable" fxFlex label="Daily Use" color="primary" [skills]="primarySkills$ | async" [loading]="loading" (skillSelectionChange)="skillSelectionChange.emit($event)"></app-skill-group>
  <app-skill-group [selectable]="selectable" fxFlex label="Limited Experience" color="accent" [skills]="secondarySkills$ | async" [loading]="loading" (skillSelectionChange)="skillSelectionChange.emit($event)"></app-skill-group>
</div>
