mat-toolbar#main-nav {
  z-index: 2;
  position: fixed;
}
mat-sidenav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  mat-sidenav {
    width: 300px;
  }
  mat-sidenav-content {
    #router-container {
      overflow: auto;
    }
    /deep/ .router-flex {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      height: 100%;
    }
  }
}
