<div class="resume-container" fxLayout="column" fxFlex fxLayout="column" fxLayoutGap="100px" fxLayoutGap.xs="30px">
  <div [ngStyle.gt-xs]="{'min-height': '70%'}" [ngStyle.xs]="{'min-height': '100%'}" id="hero-header" fxLayout="column" fxLayoutAlign="center center">
    <div class="background-image"></div>
    <h2 class="mat-headline">Get To Know Me</h2>
    <h1 ngClass.gt-sm="mat-display-4" ngClass.lt-md="mat-display-2" align="center">What I've been doing lately</h1>
    <mat-icon fxHide.gt-sm>arrow_downward</mat-icon>
  </div>
  <div fxFlex="initial">
    <div fxLayout>
      <div [fxFlex]="bufferSM" [fxFlex.gt-sm]="bufferMD" [fxFlex.gt-md]="bufferLG"></div>
      <div fxFlex id="resume-content">
        <div fxLayout="column" fxLayoutGap="100px">
          <app-section label="Technologies">
            <app-skills selectable fxFlex fxFlexOffset.lt-md="20px" [skills]="skills" [loading]="skillsLoading" (skillSelectionChange)="alertSkillSelectionChange($event)"></app-skills>
          </app-section>
          <app-section label="Work Experience">
            <app-experience [jobs]="jobs" [loading]="jobsLoading" fxFlex></app-experience>
          </app-section>
        </div>
      </div>
      <div [fxFlex]="bufferSM" [fxFlex.gt-sm]="bufferMD" [fxFlex.gt-md]="bufferLG"></div>
    </div>
  </div>
</div>
