<div fxLayout fxLayout.lt-md="column" fxLayoutGap="30px">
  <h3 fxFlex class="mat-title">Technologies</h3>
  <div fxFlex>
    <mat-list>
      <h4 matSubheader>Daily Use</h4>
      <mat-list-item *ngFor="let skill of primarySkills">
        {{skill.name}}
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex>
    <mat-list>
      <h4 matSubheader>Experience With</h4>
      <mat-list-item *ngFor="let skill of secondarySkills">
        {{skill.name}}
      </mat-list-item>
    </mat-list>
  </div>
</div>
